<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="CS_FarmaticDB" providerName="System.Data.SqlClient" connectionString="Data Source=DEVSQL;Initial Catalog=Farmatic_SDZ;User ID=FarmaticUser;Password=Qwerty.123$"/>
  </connectionStrings>
  <appSettings>
    <clear/>
    <add key="hour" value="10"/>
    <add key="minute" value="30"/>
    <add key="second" value="00"/>
    <add key="periodInHours" value="0,5"/>
    <add key="APIEndpoint" value="http://localhost:53986"/>
    <add key="APIUser" value="soporte@makesoft.es"/>
    <add key="APIPwd" value="Qwerty.123$"/>
    <add key="APICodUsuario" value="11111"/>
    <add key="APITokenEndpoint" value="/token"/>
    <add key="APIGetVentaData" value="/api/ventas" />
    <add key="APIPostVentaData" value="/api/ventas/simple" />
    <add key="APIPostVentaDataRange" value="/api/ventas/bloque" />
    <add key="DaysToResend" value="20"/>
  </appSettings>
  <startup>
    
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
